/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET BELOW */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ABOVE */

/*
COLORS
Background, main: #2B2733
Text, main: #CBC9CF
Background, header and cards: #46424D
Text header and cards: #FFF
Shadow, card: #26222D
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Text, error: #EFB7EC
font-family: 'Montserrat', sans-serif;
*/

html, body {
  height: 100%;
}

body {
  background-color: #2B2733;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

main {
  color: #CBC9CF;
  display: grid;
  flex: 1;
  grid-template-columns: 60% 40%;
  min-width: 1200px;
}

header {
  background-color: #46424D;
  color: #FFF;
  text-align: center;
  padding: 15px 0px;
}

.new-activity-box,
.current-activity-box {
  background-color: #46424D;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #1F262A;
}

header,
.start-activity-button {
  text-transform: uppercase;
}

form {
  display:  flex;
  margin: 20px;
  min-width: 500px;
}

h2 {
  padding: 10px;
  margin-left: 10px;
  margin-top: 12px;
}

button {
  /* cursor: pointer; */
}

.category-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  width: 400px;
}

.completed-activity-section {
  display: flex;
  justify-content: space-between;
  background-color: #46424D;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 3px 3px 3px #26222D;
}

.create-new-activity-button {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.new-activity-box {
  min-height: 370px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.past-activities-section {
  margin-top: 20px;
  min-width: 200px;
}

.current-activity-box {
  align-items: center;
  box-shadow: 3px 3px 2px 0px #26222D;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px 30px 20px;
  padding: 40px 0;
}

.countdown-timer {
  font-size: xxx-large;
  font-weight: 1000;
  margin-bottom: 40px;
}

.log-activity-button {
  border-radius: 2px;
  border-style: none;
  color: #46424D;
  padding: 8px;
  text-transform: uppercase;
  width: 160px;
}

.activity-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.activity-buttons-box {
  padding-top: 10px;
  height: 75px;
  width: 400px;
  display: flex;
  justify-content: space-between;

}

.study-button-inactive,
.meditate-button-inactive,
.exercise-button-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  /* max-height: 70px; */
}

.study-button-active {
  border: 1px solid #B3FD78;
  color: #B3FD78;
}

.meditate-button-active {
  border: 1px solid #C278FD;
  color: #C278FD;
}

.exercise-button-active {
  border: 1px solid #FD8078;
  color: #FD8078;
}

.input {
  background-color: transparent;
  color: #FFF;
  border: none;
  border-bottom: #FFF solid 1px;
}

.description-input {
  padding-top: 10px
}

.time-input {
  display: flex;
  justify-content: space-between;
}

.minutes-input,
.seconds-input {
  display: flex;
  flex-direction: column;
}

.start-activity-button-box {
  display: flex;
  flex-direction: row-reverse;
}

.start-activity-button {
  color: #46424D;
  padding: 3px 20px;
}

.error-message {
  display: flex;
  min-width: 160px;
  height: 10px;
  font-size: 12px;
}

.error-icon {
  height: 10px;
  width: 10px;
}

.current-activity-section {
  border-right: 2px solid #46424D;
  display: flex;
  flex-direction: column;
}

.start-timer-button {
  border-radius: 50%;
  background-color: transparent;
  border: solid 3px;
  color: #fff;
  font-size: 20px;
  height: 200px;
  margin-bottom: 32px;
  text-transform: uppercase;
  width: 200px;
}

.study-border {
  border-color: #B3FD78;
}

.meditate-border {
  border-color: #C278FD;
}

.exercise-border {
  border-color: #FD8078;
}

.hidden {
  display: none;
}

.past-activities-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	line-height: 30px;
  gap: 10px;
}

.activity-card {
  display: flex;
  justify-content: space-between;
	background-color: #46424D;
	border-radius: 5px;
	margin-right: 20px;
	box-shadow: 3px 3px 3px #26222D;
}

.activity-card-content {
  display: flex;
  flex-direction: column;
	font-size: 12px;
	border-radius: 5%;
	box-shadow: 5px;
}

.activity-category {
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
}

.activity-time {
	padding-top: 1px;
	padding-left: 10px;
}

.activity-description {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}


.activity-card-marker-study,
.activity-card-marker-meditate,
.activity-card-marker-exercise {
	display: flex;
	width: 4px;
	height: 15px;
	border-radius: 30%;
	padding-top: 5px;
	margin-top: 5px;
	margin-right: 5px;

}

.activity-card-marker-study {
  background-color: #B3FD78;
}

.activity-card-marker-meditate {
  background-color: #C278FD
}

.activity-card-marker-exercise {
  background-color: #FD8078
}
